<mat-nav-list>
  <h3>ACCIONES</h3>
  <div class="actions-container inlineFlex">
    <div class="sapaceBetween"><span matTooltip="Generar endoso" class="customGradientIcon material-icons">swap_horiz</span></div>
    <div class="sapaceBetween"><span matTooltip="Tomar llamada" class="customGradientIcon material-icons">ring_volume</span></div>
    <div class="sapaceBetween"><span matTooltip="Activar o desactivar empleado" class="customGradientIcon material-icons">work</span></div>
    <div class="sapaceBetween"><span matTooltip="" class="customGradientIcon material-icons">description</span></div>
  </div>
</mat-nav-list>
