<app-loader></app-loader>
<main>
  <!--  INPUT PARA ABRIR Y CERRAR MENU-->
  <input type="checkbox" id="check">
  <!--  HEADER-->
  <header>
    <label for="check">
      <span class="material-icons">menu</span>
    </label>
    <a routerLink="/dashboard">
      <p class="title">Llamadas</p>
    </a>
  </header>


  <!--  MENU-->
  <nav class="menu">
    <ul>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="material-icons menu-icons">construction</span> Configuración</li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="material-icons menu-icons">call</span> Marcadores</li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="material-icons menu-icons">group</span> Ejecutivos</li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="material-icons menu-icons">mediation</span> ACD</li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="material-icons menu-icons">menu_book</span> Manual</li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="material-icons menu-icons">aspect_ratio</span> Plantillas de Captura</li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="material-icons menu-icons">assignment_turned_in</span>Tipificaciones</li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="material-icons menu-icons">headset_mic</span> Operadora</li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="material-icons menu-icons">content_paste</span> Reportes del Sistema</li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="material-icons menu-icons">graphic_eq</span> Grabaciones</li>
    </ul>
  </nav>


  <!--  ESTADOS DE LLAMADAS-->
  <div style="margin-top: 60px" class="estados">

    <!--  TABLA PARA ESPERA-->
    <mat-card class="cards-tables">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState1 = true"
                             (closed)="panelOpenState1 = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="material-icons">group</span>&nbsp; Esperando a ser Atendidos
            </mat-panel-title>
            <mat-panel-description>
              Tabla {{panelOpenState1 ? 'Abierta' : 'Cerrada'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource1" matSort #sortEnEspera>

              <ng-container matColumnDef="tiempoLlamadasEnEspera" sticky>
                <th mat-header-cell *matHeaderCellDef>Tiempo</th>
                <td mat-cell *matCellDef="let element"> {{element.tiempoEsperaDeAtencion}} </td>
              </ng-container>

              <ng-container matColumnDef="numeroLlamadasEnEspera">
                <th mat-header-cell *matHeaderCellDef>Número</th>
                <td mat-cell *matCellDef="let element"> {{element.numeroEsperaDeAtencion}} </td>
              </ng-container>

              <ng-container matColumnDef="acdLlamadasEnEspera" stickyEnd>
                <th mat-header-cell *matHeaderCellDef>ACD</th>
                <td mat-cell *matCellDef="let element"> {{element.acdEsperaDeAtencion}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
            </table>

            <mat-paginator #paginadorEnEspera [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>

    <!--  TABLA EN LLAMADA-->
    <mat-card class="cards-tables">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState2 = true"
                             (closed)="panelOpenState2 = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="material-icons">headset_mic</span>&nbsp; Clientes en Llamada
            </mat-panel-title>
            <mat-panel-description>
              Tabla {{panelOpenState2 ? 'Abierta' : 'Cerrada'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource2" matSort #sortEnLlamada>

              <ng-container matColumnDef="numeroEnLLamada" sticky>
                <th mat-header-cell *matHeaderCellDef>Número</th>
                <td mat-cell *matCellDef="let element"> {{element.numeroEnLlamada}} </td>
              </ng-container>

              <ng-container matColumnDef="acdEnLlamada">
                <th mat-header-cell *matHeaderCellDef> ACD</th>
                <td mat-cell *matCellDef="let element"> {{element.acdEnLlamada}} </td>
              </ng-container>

              <ng-container matColumnDef="ejecutivoEnLlamada">
                <th mat-header-cell *matHeaderCellDef>Ejecutivo</th>
                <td mat-cell *matCellDef="let element"> {{element.ejecutivoEnLlamada}} </td>
              </ng-container>

              <ng-container matColumnDef="tiempoEnLlamada" stickyEnd>
                <th mat-header-cell *matHeaderCellDef>Tiempo</th>
                <td mat-cell *matCellDef="let element"> {{element.tiempoEnLlamada}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>

            <mat-paginator #paginadorEnLlamada [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </div>


  <!--  GRAFICAS-->
  <div class="estados">
    <!--  GRAFICA 1-->
    <mat-card class="cards-tables2">
      <div class="status">
        <div class="txt-block">
          <p>Recividas</p>
          <p>155</p>
        </div>
        <div class="txt-block">
          <p>Cotestadas</p>
          <p>142</p>
        </div>
        <div class="txt-block">
          <p>Perdidas</p>
          <p>16</p>
        </div>
        <div class="txt-block">
          <p>Desviads</p>
          <p>0</p>
        </div>
      </div>
      <figure class="pie-chart">
        <h2>TIPIFICACIONES</h2>
        <figcaption>
          Llamada no Calificada<span style="color:#4e79a7"></span><br>
          Transferencia<span style="color:#f28e2c"></span><br>
          Operables<span style="color:#e15759"></span><br>
          Exitosa<span style="color:#76b7b2"></span><br>
          No Exitosa<span style="color:#59a14f"></span><br>
          Sin Interacción<span style="color:#edc949"></span>
        </figcaption>
      </figure>
      <div class="status2">
        <div class="txt-block">
          <p>Promedio de Espera</p>
          <p>00:00:31</p>
        </div>
        <div class="txt-block">
          <p>Promedio en Llamada</p>
          <p>00:04:59</p>
        </div>
        <div class="txt-block">
          <p>Promedio de Abandono</p>
          <p>00:00:56</p>
        </div>
      </div>
    </mat-card>

    <!--  GRAFICA 2-->
    <mat-card class="cards-tables2">
      <div class="status">
        <div class="txt-block">
          <p>Recividas</p>
          <p>155</p>
        </div>
        <div class="txt-block">
          <p>Cotestadas</p>
          <p>142</p>
        </div>
        <div class="txt-block">
          <p>Perdidas</p>
          <p>16</p>
        </div>
        <div class="txt-block">
          <p>Desviads</p>
          <p>0</p>
        </div>
      </div>
      <figure class="pie-chart">
        <h2>TIPIFICACIONES</h2>
        <figcaption>
          Llamada no Calificada<span style="color:#4e79a7"></span><br>
          Transferencia<span style="color:#f28e2c"></span><br>
          Operables<span style="color:#e15759"></span><br>
          Exitosa<span style="color:#76b7b2"></span><br>
          No Exitosa<span style="color:#59a14f"></span><br>
          Sin Interacción<span style="color:#edc949"></span>
        </figcaption>
      </figure>
      <div class="status2">
        <div class="txt-block">
          <p>Promedio de Espera</p>
          <p>00:00:31</p>
        </div>
        <div class="txt-block">
          <p>Promedio en Llamada</p>
          <p>00:04:59</p>
        </div>
        <div class="txt-block">
          <p>Promedio de Abandono</p>
          <p>00:00:56</p>
        </div>
      </div>
    </mat-card>
  </div>


  <!--  TABLA DE ESTADOS DE EJECUTIVOS EN LINEA-->
  <div class="estados2">
    <mat-card class="cards-tables">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState3 = true"
                             (closed)="panelOpenState3 = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="material-icons">camera_front</span>&nbsp; Estado de Ejecutivos en Línea
            </mat-panel-title>
            <mat-panel-description>
              Tabla {{panelOpenState3 ? 'Abierta' : 'Cerrada'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="ejecutivoEstadosColorsContainer">
            <div class="inlineFlex"><div class="circleEstados Estado-1"></div><p class="estadosText">Disponibles</p></div>
            <div class="inlineFlex"><div class="circleEstados Estado-2"></div><p class="estadosText">En Pausa</p></div>
            <div class="inlineFlex"><div class="circleEstados Estado-3"></div><p class="estadosText">En ACD</p></div>
            <div class="inlineFlex"><div class="circleEstados Estado-4"></div><p class="estadosText">En Marcador</p></div>
            <div class="inlineFlex"><div class="circleEstados Estado-5"></div><p class="estadosText">Asignando Llamada</p></div>
          </div>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource3" matSort #sortEstadosEjecutivos>

              <ng-container matColumnDef="estadosACD" sticky>
                <th mat-header-cell *matHeaderCellDef>ACD</th>
                <td mat-cell *matCellDef="let element"> {{element.acd}} </td>
              </ng-container>

              <ng-container matColumnDef="estadosEjecutivos">
                <th mat-header-cell *matHeaderCellDef>Estados de Ejecutivos en Línea</th>
                <td mat-cell *matCellDef="let element"> {{element.estadoEjecutivo}} </td>
              </ng-container>

              <ng-container matColumnDef="estadosTotal" stickyEnd>
                <th mat-header-cell *matHeaderCellDef> Total</th>
                <td mat-cell *matCellDef="let element"> {{element.totalEjecutivos}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
            </table>

            <mat-paginator #paginadorEstadosEjecutivos [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons></mat-paginator>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </div>
</main>
