section {width: 100%;height: auto;text-align: center;position: relative}
.descriptions {display: inline-flex;width: 90%; margin: 0 5%;}
.descriptions div {width:400px; background-color: #ffffff; border:solid 1px #000000;}
.cards {width:700px;height:auto;}
.sapaceBetween{margin:0 30px;}
