<app-toolbar></app-toolbar>
<!--  CONTENEDOR GLOBAL DE ELEMENTOS-->
<section>
  <h1>TITULO CON H1</h1>

<!--  CONTENEDOR DE CABECERAS H2 - H5-->
  <div class="descriptions">
    <div><h2>Texto en H2: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, quaerat?</h2></div>
    <div><h3>Texto en H3: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, quaerat?</h3></div>
    <div><h4>Texto en H4: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, quaerat?</h4></div>
    <div><h5>Texto en H5: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, quaerat?</h5></div>
  </div>
  <br>
  <br>
  <p>Este es un parrafo simple</p>
  <br>
  <br>
<!--  EJEMPLO DE CARD GRANDE-->
  <mat-card>
    <h2>CARD</h2>
    <br>
    <p>Este es un card con medidas predefinidas las cuales funcionaran de manera
    automatica permitiendo un ajuste automatico a los entornos donde se usen, este texto esta dentro de un parrafo simple
      <br>
      <br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur, atque autem beatae consequuntur debitis dignissimos doloremque eligendi enim eos error, facere facilis impedit incidunt iusto labore, maxime nesciunt odio quam quidem quod tempora temporibus veniam! Animi corporis culpa, dignissimos error est fugit harum inventore maxime mollitia quia quo sit!
    </p>
  </mat-card>

<!--  CARDS AJUSTADAS AUTOMATICAMENTE-->
  <div class="cards inlineFlex">
    <mat-card>
      <p>Este es el mismo card de arriba ajustado dentro de un div</p>
    </mat-card>
    <mat-card>
      <p>Este es el mismo card de arriba ajustado dentro de un div</p>
    </mat-card>
    <mat-card>
      <p>Este es el mismo card de arriba ajustado dentro de un div</p>
    </mat-card>
  </div>

<!--  CONTENEDOR DE BOTONES-->
  <mat-card>
    <h1>EJEMPLOS DE BOTONES</h1>
    <br><br>
    <div class="inlineBlock">
      <p>Boton sin efecto ni estilos definidos</p>
      <button matTooltip="Boton Basico" mat-raised-button>Basic</button>
      <br>
      <br>
      <p>Boton personalizado de color solido</p>
      <button class="customButton" matTooltip="Boton Solido" mat-raised-button>Solid</button>
      <br>
      <br>
      <p>Boton personalizado de color degradado</p>
      <button class="customGradientButton" matTooltip="Boton Degradado" mat-raised-button>Gradient</button>
      <br>
      <br>
      <p>Boton personalizado que detona un modal</p>
      <button (click)="sweetAlert()" class="customGradientButton" matTooltip="Boton Degradado" mat-raised-button>Click Me!</button>
    </div>
  </mat-card>

<!--  CONTENEDOR DE ICONOS-->
  <mat-card>
    <div class="inlineFlex">
      <div class="sapaceBetween"><span matTooltip="Generar endoso" class="customIcon material-icons">swap_horiz</span></div>
      <div class="sapaceBetween"><span matTooltip="Tomar llamada" class="customGradientIcon material-icons">ring_volume</span></div>
      <div class="sapaceBetween"><span matTooltip="Activar o desactivar empleado" class="customIcon material-icons">work</span></div>
      <div class="sapaceBetween"><span matTooltip="" class="customGradientIcon material-icons">description</span></div>
    </div>
  </mat-card>

</section>
