<app-loader></app-loader>
<app-toolbar></app-toolbar>
<div class="globalContainer">
  <div class="body">
    <header class="header_nav">
      <a routerLink="/" class="logo"><span>TRIGARANTE</span></a>
    </header>
    <header class="header_main">
      <span class="title">Dashboard</span>
      <span class="date"></span>
      <a routerLink="/"><i class="fa fa-search"></i></a>

    </header>
    <header class="header_aside">
      <span *ngIf="interaccion" class="title" style="cursor:pointer;" (click)="logOut()">Cerrar sesión</span>
      <a routerLink="/"><i class="fas fa-sign-out-alt"></i></a></header>
    <nav>
      <ul>
        <li class="active"><a routerLink="/llamadas" ><i class="fas fa-columns"></i>Llamadas</a></li>
        <li><a routerLink="/"><i class="far fa-folder"></i>Productividad</a></li>
        <li><a routerLink="/"><i class="fas fa-book"></i>Reportes</a></li>
        <li class="learningPlan"><a routerLink="/"><i class="far fa-calendar"></i>Boletin</a></li>
        <li><a routerLink="/"><i class="far fa-comment"></i>Notificaciones<span class="messageCount">3</span></a></li>
        <li><a routerLink="/"><i class="far fa-edit"></i>Mas</a></li>
      </ul>
      <div class="upgradeContainer">
        <svg class="folderIcon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" data-name="Layer 1" width="729.47" height="695.09" viewBox="0 0 729.47 695.09">
          <defs>
            <linearGradient id="fc2ce546-a06c-4acb-8cca-fc7989cc5e45" x1="611.98" y1="687.2" x2="611.98" y2="258.73" gradientUnits="userSpaceOnUse">
              <stop offset="0" stop-color="#dce1ff" stop-opacity="0.25" />
              <stop offset="0.54" stop-color="#dce1ff" stop-opacity="0.12" />
              <stop offset="1" stop-color="#dce1ff" stop-opacity="0.1" />
            </linearGradient>
            <linearGradient id="8de405ef-36e0-4554-af41-d0565e95cbca" x1="410.91" y1="358.56" x2="452.61" y2="86.08" gradientTransform="matrix(1.01, 0.13, -0.13, 1.02, 62.29, -41.05)" xlink:routerLink="/fc2ce546-a06c-4acb-8cca-fc7989cc5e45" />
            <linearGradient id="90a47f5c-11a4-432e-bbe5-e819485e2974" x1="597.01" y1="453.03" x2="597.01" y2="138.64" gradientTransform="translate(140.76 -189.73) rotate(20.42)" xlink:routerLink="/fc2ce546-a06c-4acb-8cca-fc7989cc5e45" />
            <linearGradient id="c3d8783b-6f33-4c65-b7a9-7a0b4c25dfb1" x1="756.62" y1="488.3" x2="772.25" y2="249.01" gradientTransform="matrix(0.26, 0.99, -1.02, 0.25, 910.43, -476.82)" xlink:routerLink="/fc2ce546-a06c-4acb-8cca-fc7989cc5e45" />
            <linearGradient id="1441cd83-913d-413c-98d4-824021df009a" x1="310" y1="695.09" x2="310" y2="203.86" xlink:routerLink="/fc2ce546-a06c-4acb-8cca-fc7989cc5e45" />
            <linearGradient id="4913d3bc-5f66-46f4-9c65-3645c89ed5d3" x1="545.79" y1="695.81" x2="545.79" y2="464.64" gradientUnits="userSpaceOnUse">
              <stop offset="0" stop-color="#b3b3b3" stop-opacity="0.25" />
              <stop offset="0.54" stop-color="#b3b3b3" stop-opacity="0.1" />
              <stop offset="1" stop-color="#b3b3b3" stop-opacity="0.05" />
            </linearGradient>
            <linearGradient id="0cf8a40c-444c-472e-8722-d672ac4b1674" x1="310.8" y1="580.62" x2="310.8" y2="375.85" xlink:routerLink="/4913d3bc-5f66-46f4-9c65-3645c89ed5d3" />
            <clipPath id="f4edd298-8257-4895-a91b-ae15b3b0d94f" transform="translate(-235.26 -102.45)">
              <rect x="400.07" y="483.3" width="291.69" height="194.01" rx="8.85" ry="8.85" fill="#fff" />
            </clipPath>
          </defs>
          <title>folder</title>
          <polygon points="618.97 687.2 513.53 687.2 513.53 258.73 710.42 258.73 618.97 687.2" fill="url(#fc2ce546-a06c-4acb-8cca-fc7989cc5e45)" />
          <polygon points="613.72 687.2 510.37 687.2 510.37 258.73 703.35 258.73 613.72 687.2" fill="#3961e5" />
          <rect x="249.88" y="158.45" width="439.19" height="168.85" transform="translate(-283.32 32.9) rotate(-15.62)" fill="url(#8de405ef-36e0-4554-af41-d0565e95cbca)" />
          <rect x="254.32" y="160.66" width="431.85" height="163.44" transform="translate(-283.15 33.09) rotate(-15.62)" fill="#eef2fd" />
          <rect x="367.9" y="230.63" width="108.65" height="8.29" transform="translate(-282.88 19.88) rotate(-15.62)" fill="#eef2fd" />
          <rect x="376.82" y="262.55" width="108.65" height="8.29" transform="translate(-291.14 23.46) rotate(-15.62)" fill="#fff" />
          <rect x="371.14" y="237.71" width="174.6" height="8.29" transform="translate(-283.45 29.89) rotate(-15.62)" fill="#fff" />
          <circle cx="329.58" cy="277.88" r="19.34" transform="translate(-297.9 -3.47) rotate(-15.62)" fill="#fff" />
          <rect x="376.38" y="210.25" width="441.26" height="171.17" transform="translate(-300.97 124.47) rotate(-20.42)" fill="url(#90a47f5c-11a4-432e-bbe5-e819485e2974)" />
          <rect x="381.03" y="214.81" width="431.85" height="163.44" transform="translate(-301.21 124.5) rotate(-20.42)" fill="#eef2fd" />
          <rect x="494.14" y="288.83" width="108.65" height="8.29" transform="translate(-303.02 107.35) rotate(-20.42)" fill="#eef2fd" />
          <rect x="505.71" y="319.89" width="108.65" height="8.29" transform="translate(-313.13 113.34) rotate(-20.42)" fill="#fff" />
          <rect x="497.85" y="292.85" width="174.6" height="8.29" transform="matrix(0.94, -0.35, 0.35, 0.94, -302.12, 120.41)" fill="#fff" />
          <circle cx="459.76" cy="343.69" r="19.34" transform="translate(-326.29 79.59) rotate(-20.42)" fill="#fff" />
          <rect x="646.89" y="150.88" width="172.17" height="440.14" transform="translate(3.97 925.06) rotate(-79.9)" fill="url(#c3d8783b-6f33-4c65-b7a9-7a0b4c25dfb1)" />
          <rect x="515.81" y="288.22" width="431.85" height="163.44" transform="translate(-159.05 -225.04) rotate(10.1)" fill="#eef2fd" />
          <rect x="687.63" y="287.92" width="8.29" height="108.65" transform="translate(-1.75 860.83) rotate(-79.9)" fill="#eef2fd" />
          <rect x="681.81" y="320.56" width="8.29" height="108.65" transform="translate(-38.67 882.02) rotate(-79.9)" fill="#fff" />
          <rect x="717.18" y="277.05" width="8.29" height="174.6" transform="translate(0.86 908.15) rotate(-79.9)" fill="#fff" />
          <circle cx="589.6" cy="340.88" r="19.34" transform="translate(-84.66 759.11) rotate(-79.9)" fill="#fff" />
          <polygon points="171.78 253.69 100.61 203.86 2.07 203.86 2.07 253.69 2.07 278.1 2.07 695.09 617.93 695.09 617.93 253.69 171.78 253.69" fill="url(#1441cd83-913d-413c-98d4-824021df009a)" />
          <polygon points="174.44 258.73 104.36 210.36 7.34 210.36 7.34 258.73 7.34 282.43 7.34 687.2 613.72 687.2 613.72 258.73 174.44 258.73" fill="#5172ef" />
          <path d="M711.54,688.53a7.25,7.25,0,0,1-7.21,7.28H387.26a7.25,7.25,0,0,1-7.21-7.28V471.93a7.25,7.25,0,0,1,7.21-7.28H704.33a7.25,7.25,0,0,1,7.21,7.28" transform="translate(-235.26 -102.45)" fill="url(#4913d3bc-5f66-46f4-9c65-3645c89ed5d3)" />
          <path d="M707.81,685a7,7,0,0,1-7,7H391.05a7,7,0,0,1-7-7V475.62a7,7,0,0,1,7-7H700.77a7,7,0,0,1,7,7" transform="translate(-235.26 -102.45)" fill="#fff" />
          <g id="114cebd5-d8fe-4021-8e49-fe55d7dac6be" data-name="&lt;Rectangle&gt;">
            <rect x="161.12" y="375.85" width="299.37" height="204.76" rx="8.85" ry="8.85" fill="#eef2fd" />
          </g>
          <rect x="164.8" y="380.84" width="291.69" height="194.01" rx="8.85" ry="8.85" fill="#fff" />
          <g clip-path="url(#f4edd298-8257-4895-a91b-ae15b3b0d94f)">
            <path d="M383.84,675.53l81.44-93.31a16.21,16.21,0,0,1,22.94-1.5L511,600.84a16.21,16.21,0,0,0,21.16.25l69.7-58.58A16.21,16.21,0,0,1,624.3,544l85.53,94.14a16.21,16.21,0,0,1,4.15,9.47l3.3,37.13a16.21,16.21,0,0,1-16.15,17.65H396.06a16.21,16.21,0,0,1-16.2-15.72h0A16.21,16.21,0,0,1,383.84,675.53Z" transform="translate(-235.26 -102.45)" fill="#5e81f4" />
          </g>
          <circle cx="199.93" cy="411.95" r="18.06" fill="#eef2fd" />
        </svg>
        <span>Recuerda manejar la <b>información</b> de manera <b>responsable</b></span>
      </div>
    </nav>
    <main>
      <div class="welcomeBack">
        <div class="textContainer">
          <div class="title">Hola {{objects.nombre}} <p id="textsaludo"> {{saludo}}</p></div>
          <div class="subtitle">{{motivacion}}</div>
        </div>
        <svg id="f61e7f2c-3df8-44b9-b514-d2b672d0e0d5" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="250" height="250" viewBox="0 0 1100.99998 666.0509"><title>dev_focus</title><circle cx="633.92942" cy="214.02012" r="36.39575" fill="#2f2e41"/><path d="M693.56939,295.60077a36.40082,36.40082,0,0,1,32.03938,53.66882,36.38708,36.38708,0,1,0-60.45438-39.98247A36.306,36.306,0,0,1,693.56939,295.60077Z" transform="translate(-49.50001 -116.97455)" fill="#2f2e41"/><circle cx="565.91872" cy="107.03051" r="106.9125" fill="#2f2e41"/><path d="M531.5098,157.67094A106.89328,106.89328,0,0,1,679.677,146.461c-.87424-.83106-1.73925-1.66885-2.64768-2.47643A106.91251,106.91251,0,0,0,534.96321,303.79182c.90844.80758,1.84178,1.56849,2.76952,2.33937A106.89337,106.89337,0,0,1,531.5098,157.67094Z" transform="translate(-49.50001 -116.97455)" fill="#2f2e41"/><circle cx="565.01268" cy="144.17807" r="68.8589" fill="#ffb8b8"/><path d="M565.58663,282.89754s9.06039,83.35551-5.43622,92.41589,83.35551,21.74492,83.35551,21.74492-14.49662-90.60382,21.74491-114.16081Z" transform="translate(-49.50001 -116.97455)" fill="#ffb8b8"/><path d="M652.5663,360.81682s26.98248-12.60018-11.87783-8.11216-72.38788-12.72672-72.38788-12.72672-11.77434-11.77849-13.58641.906,5.43623,36.24153-34.42945,39.86568-76.10721-7.2483-90.60382,19.93284-7.2483,144.9661-7.2483,144.9661,27.18114,97.85213,48.92606,112.34874,212.01292-5.43623,212.01292-5.43623L737.73388,554.709V440.54818s-7.2483-39.86568-57.98644-28.99322c0,0-32.61737-7.24831-30.8053-23.557S652.5663,360.81682,652.5663,360.81682Z" transform="translate(-49.50001 -116.97455)" fill="#414099"/><path d="M478.55,727.24542c1.12-4.88,1.87-7.64,1.87-7.64l-.57995-3.97-5.97-40.54-2.51-17.1c21.74-9.06,27.18-50.74,27.18-50.74l.82-.49,3.71-2.22v-.01l13.32-7.99.27-.16,5.38,3.58,10.93,7.29c38.24,28.12,77.18,27.62,101.21,23.19,14.69-2.71,23.82-6.88,23.82-6.88l26.36-8.79.82-.27.81.12,15.46,2.34.28.05,1.28.19-3.58,24.75-5.19,35.97c13.71,7.26,25.9,20.9,36.56,37.71q3.54,5.58,6.86,11.61c2.88,5.2,5.63,10.61,8.25,16.15.32.66.63,1.33.94,2,1.01,2.17,2.01,4.36,2.98005,6.56H473.75c.36-2.21.72-4.32,1.07-6.35a1.54822,1.54822,0,0,0,.04-.21c.13-.68.25-1.34.36-2C476.44,736.79541,477.62,731.28546,478.55,727.24542Z" transform="translate(-49.50001 -116.97455)" fill="#2f2e41"/><path d="M467.73451,378.93759s19.93284,36.24152,12.68454,81.54343S502.164,618.13166,502.164,618.13166l21.74492-5.43623s-14.49661-94.228-10.87246-115.97289,3.62415-106.9125-14.49661-117.78495S467.73451,378.93759,467.73451,378.93759Z" transform="translate(-49.50001 -116.97455)" fill="#2f2e41"/><path d="M678.47286,416.59979l7.61685,200.62583,14.49661,9.06038s20.83888-220.16727,9.96642-220.16727H688.4302A9.97043,9.97043,0,0,0,678.47286,416.59979Z" transform="translate(-49.50001 -116.97455)" fill="#2f2e41"/><circle cx="462.63037" cy="487.56653" r="9.06038" fill="#5e81f4"/><circle cx="643.838" cy="496.62692" r="9.06038" fill="#5e81f4"/><polygon points="506.12 58.104 506.12 126.963 522.067 126.963 542.362 105.218 539.644 126.963 610.133 126.963 605.784 105.218 614.482 126.963 625.717 126.963 625.717 58.104 506.12 58.104" fill="#2f2e41"/><ellipse cx="495.24775" cy="129.68146" rx="5.43623" ry="9.96642" fill="#ffb8b8"/><ellipse cx="634.77762" cy="129.68146" rx="5.43623" ry="9.96642" fill="#ffb8b8"/><path d="M721.4252,612.69543s-82.44948-15.40265-87.8857,11.77849,91.50985,15.40265,91.50985,15.40265Z" transform="translate(-49.50001 -116.97455)" fill="#ffb8b8"/><path d="M719.61312,426.05157S917.12944,583.70221,880.88791,621.75581,706.92859,648.937,706.92859,648.937l9.06038-45.3019,79.73135-9.06038L755.85465,554.709l-36.24153,3.62415Z" transform="translate(-49.50001 -116.97455)" fill="#414099"/><path d="M427.86884,688.80263l25.36906,19.93284s18.12077,56.17437,45.30191,39.86568S473.17074,674.306,473.17074,674.306l-30.80529-10.87246Z" transform="translate(-49.50001 -116.97455)" fill="#ffb8b8"/><path d="M453.2379,397.05835l-25.30065,7.61381s-175.83982,130.104-183.08812,166.34551S279.27858,627.192,279.27858,627.192l157.65064,74.29513,16.30868-43.48983-74.29513-38.05361s5.43623-10.87245-16.30868-12.68453S337.265,581.89013,337.265,581.89013s43.48983-67.04682,67.04682-52.55021,30.8053,25.36907,30.8053,25.36907Z" transform="translate(-49.50001 -116.97455)" fill="#414099"/><path d="M814.1,733.45544v6.07a13.34008,13.34008,0,0,1-.91,4.87,13.68227,13.68227,0,0,1-.97,2,13.4373,13.4373,0,0,1-11.55,6.56H354.12a13.43736,13.43736,0,0,1-11.55-6.56,13.68842,13.68842,0,0,1-.97-2,13.34153,13.34153,0,0,1-.91-4.87v-6.07a13.42641,13.42641,0,0,1,13.43-13.43h25.74v-2.83a.55908.55908,0,0,1,.56-.56h13.43a.55908.55908,0,0,1,.56.56v2.83h8.39v-2.83a.55908.55908,0,0,1,.56-.56h13.43a.55908.55908,0,0,1,.56.56v2.83h8.4v-2.83a.55908.55908,0,0,1,.56-.56h13.43a.55908.55908,0,0,1,.56.56v2.83h8.39v-2.83a.55908.55908,0,0,1,.56-.56h13.43a.55908.55908,0,0,1,.56.56v2.83h8.39v-2.83a.55908.55908,0,0,1,.56-.56h13.43a.55908.55908,0,0,1,.56.56v2.83h8.4v-2.83a.55908.55908,0,0,1,.56-.56h13.43a.55908.55908,0,0,1,.56.56v2.83h8.39v-2.83a.55908.55908,0,0,1,.56-.56h105.2a.55908.55908,0,0,1,.56.56v2.83h8.4v-2.83a.55908.55908,0,0,1,.56-.56h13.43a.56552.56552,0,0,1,.56.56v2.83h8.39v-2.83a.55908.55908,0,0,1,.56-.56h13.43a.55908.55908,0,0,1,.56.56v2.83h8.39v-2.83a.55908.55908,0,0,1,.56-.56h13.43a.55908.55908,0,0,1,.56.56v2.83h8.4v-2.83a.55908.55908,0,0,1,.56-.56h13.43a.557.557,0,0,1,.55.56v2.83h8.4v-2.83a.55908.55908,0,0,1,.56-.56H738a.55908.55908,0,0,1,.56.56v2.83h8.39v-2.83a.55908.55908,0,0,1,.56-.56h13.43a.55908.55908,0,0,1,.56.56v2.83h39.17A13.42636,13.42636,0,0,1,814.1,733.45544Z" transform="translate(-49.50001 -116.97455)" fill="#3f3d56"/><rect x="161.44819" y="627.41618" width="732.99951" height="2" fill="#3f3d56"/><path d="M778.14246,477.82126H611.69957v-3.43053H536.22789v3.43053h-167.129a11.25861,11.25861,0,0,0-11.25861,11.25861v227.9115A11.25864,11.25864,0,0,0,369.09889,728.25H778.14246a11.25864,11.25864,0,0,0,11.25861-11.25865V489.07987A11.2586,11.2586,0,0,0,778.14246,477.82126Z" transform="translate(-49.50001 -116.97455)" fill="#D9DCF0"/><circle cx="516.44819" cy="449.41618" r="25" fill="#fff"/><rect x="26.02015" y="663.55077" width="189" height="2.26159" fill="#3f3d56"/><rect x="851.02015" y="663.55077" width="189" height="2.26159" fill="#3f3d56"/><path d="M185.63919,707.69176c-19.911,32.5064-13.06067,72.9409-13.06067,72.9409s39.1325-12.26879,59.04353-44.7752,13.06067-72.9409,13.06067-72.9409S205.55022,675.18536,185.63919,707.69176Z" transform="translate(-49.50001 -116.97455)" fill="#3f3d56"/><path d="M171.76594,780.90107l-1.13209-.17932c-.40938-.06491-41.158-6.81651-65.56214-36.01491-24.40427-29.19937-23.817-70.4997-23.809-70.91351l.02429-1.14573,1.13209.17932c.40939.06492,41.158,6.81651,65.56228,36.01588h0c24.40414,29.19841,23.81684,70.49874,23.80885,70.91255Z" transform="translate(-49.50001 -116.97455)" fill="#5e81f4"/><path d="M173.37365,781.92912l-1.09375-.34277c-.39551-.124-39.7207-12.75586-59.59766-45.20605-19.87695-32.45118-13.26269-73.22266-13.19433-73.63086l.1914-1.12989,1.09375.34278c.39551.124,39.72071,12.75586,59.59766,45.207h0c19.87695,32.45019,13.2627,73.22168,13.19434,73.62988Zm-72.081-117.67773c-.90528,6.84277-4.51368,42.33594,13.09472,71.084,17.60938,28.74707,50.86719,41.65821,57.373,43.96192.90527-6.84278,4.51367-42.33594-13.09473-71.083h0C141.05627,679.46623,107.79846,666.5551,101.2926,664.25139Z" transform="translate(-49.50001 -116.97455)" fill="#3f3d56"/><circle cx="124.32091" cy="536.32762" r="22" fill="#3f3d56"/><polygon points="399.789 258.254 273.582 131.051 214 131.051 214 129.051 274.417 129.051 274.711 129.348 401.211 256.848 399.789 258.254" fill="#3f3d56"/><polygon points="696.211 254.254 822.417 127.051 882 127.051 882 125.051 821.582 125.051 821.289 125.348 694.789 252.848 696.211 254.254" fill="#3f3d56"/><rect x="0.00009" y="68.33964" width="145.99988" height="28.87712" fill="#414099"/><rect x="0.00009" y="112.65108" width="145.99988" height="28.87712" fill="#414099"/><rect x="0.00009" y="156.96251" width="145.99988" height="28.87712" fill="#414099"/><rect x="0.0001" y="68.33965" width="60.39875" height="28.87712" opacity="0.15"/><rect y="112.65105" width="19.55356" height="28.87712" opacity="0.15"/><rect x="0.00009" y="156.96251" width="97.33325" height="28.87712" opacity="0.15"/><rect x="954.7761" y="74.82702" width="146.22388" height="13.02985" fill="#414099"/><rect x="899.99998" y="73.14045" width="28.95522" height="28.95522" fill="#5e81f4"/><rect x="899.99998" y="116.57329" width="28.95522" height="28.95522" fill="#5e81f4"/><rect x="899.99998" y="160.00612" width="28.95522" height="28.95522" fill="#5e81f4"/><path d="M986.45507,213.07037H955.5V182.1148h30.95508Zm-28.95508-2h26.95508V184.1148H957.5Z" transform="translate(-49.50001 -116.97455)" fill="#3f3d56"/><rect x="954.7761" y="118.25985" width="146.22388" height="13.02985" fill="#414099"/><path d="M986.45507,256.503H955.5V225.54791h30.95508Zm-28.95508-2h26.95508V227.54791H957.5Z" transform="translate(-49.50001 -116.97455)" fill="#3f3d56"/><rect x="954.7761" y="161.69269" width="146.22388" height="13.02985" fill="#414099"/><path d="M986.45507,299.93561H955.5V268.98053h30.95508Zm-28.95508-2h26.95508V270.98053H957.5Z" transform="translate(-49.50001 -116.97455)" fill="#3f3d56"/><circle cx="188.99998" cy="83.0509" r="16" fill="#5e81f4"/><circle cx="188.99998" cy="131.0509" r="16" fill="#5e81f4"/><circle cx="188.99998" cy="174.0509" r="16" fill="#5e81f4"/><path d="M230.5,213.02545a17,17,0,1,1,17-17A17.019,17.019,0,0,1,230.5,213.02545Zm0-32a15,15,0,1,0,15,15A15.017,15.017,0,0,0,230.5,181.02545Z" transform="translate(-49.50001 -116.97455)" fill="#3f3d56"/><path d="M230.5,261.02545a17,17,0,1,1,17-17A17.019,17.019,0,0,1,230.5,261.02545Zm0-32a15,15,0,1,0,15,15A15.017,15.017,0,0,0,230.5,229.02545Z" transform="translate(-49.50001 -116.97455)" fill="#3f3d56"/><path d="M230.5,304.02545a17,17,0,1,1,17-17A17.019,17.019,0,0,1,230.5,304.02545Zm0-32a15,15,0,1,0,15,15A15.017,15.017,0,0,0,230.5,272.02545Z" transform="translate(-49.50001 -116.97455)" fill="#3f3d56"/><path d="M1038.5,713.02545h-2v-15a3.00328,3.00328,0,0,1,3-3h5a1.00067,1.00067,0,0,0,1-1v-10a1.00067,1.00067,0,0,0-1-1h-5a3.00328,3.00328,0,0,1-3-3v-5a1.00067,1.00067,0,0,0-1-1h-9a3.00328,3.00328,0,0,1-3-3v-1a1.00067,1.00067,0,0,0-1-1h-36a1.00067,1.00067,0,0,0-1,1v1a3.00328,3.00328,0,0,1-3,3h-9a1.00067,1.00067,0,0,0-1,1v5a3.00328,3.00328,0,0,1-3,3h-5a1.00067,1.00067,0,0,0-1,1v10a1.00067,1.00067,0,0,0,1,1h6a3.00328,3.00328,0,0,1,3,3v15h-2v-15a1.00067,1.00067,0,0,0-1-1h-6a3.00328,3.00328,0,0,1-3-3v-10a3.00328,3.00328,0,0,1,3-3h5a1.00067,1.00067,0,0,0,1-1v-5a3.00328,3.00328,0,0,1,3-3h9a1.00067,1.00067,0,0,0,1-1v-1a3.00328,3.00328,0,0,1,3-3h36a3.00328,3.00328,0,0,1,3,3v1a1.00067,1.00067,0,0,0,1,1h9a3.00328,3.00328,0,0,1,3,3v5a1.00067,1.00067,0,0,0,1,1h5a3.00328,3.00328,0,0,1,3,3v10a3.00328,3.00328,0,0,1-3,3h-5a1.00067,1.00067,0,0,0-1,1Z" transform="translate(-49.50001 -116.97455)" fill="#3f3d56"/><path d="M1035.5,783.02545h-61a3.00328,3.00328,0,0,1-3-3v-43h2v43a1.00067,1.00067,0,0,0,1,1h61a1.00067,1.00067,0,0,0,1-1v-43h2v43A3.00328,3.00328,0,0,1,1035.5,783.02545Z" transform="translate(-49.50001 -116.97455)" fill="#3f3d56"/><rect x="921.99998" y="603.0509" width="79" height="24" rx="2" fill="#5e81f4"/><path d="M1042,738.02545H967a3.00328,3.00328,0,0,1-3-3v-20a3.00328,3.00328,0,0,1,3-3h75a3.00328,3.00328,0,0,1,3,3v20A3.00328,3.00328,0,0,1,1042,738.02545Zm-75-24a1.00067,1.00067,0,0,0-1,1v20a1.00067,1.00067,0,0,0,1,1h75a1.00067,1.00067,0,0,0,1-1v-20a1.00067,1.00067,0,0,0-1-1Z" transform="translate(-49.50001 -116.97455)" fill="#3f3d56"/><path d="M1002.5,660.02545v0a249.6283,249.6283,0,0,1-2.09463-54.11121L1002.5,576.02545h0c-11.54175,22.96553-8.93335,53.1922,0,83.99993Z" transform="translate(-49.50001 -116.97455)" fill="#414099"/><path d="M1011.5,665.02545v0a183.49687,183.49687,0,0,1-1.00779-32.20905L1011.5,615.02545h0c-5.55309,13.67-4.29811,31.662,0,50Z" transform="translate(-49.50001 -116.97455)" fill="#414099"/></svg>
      </div>
      <div class="latestResults">
        <div class="header">
          <span class="headerText">Últimos resultados</span>
          <a routerLink="/" class="rightElement">Mas de ello &nbsp;&nbsp;<b>→</b></a>
        </div>
        <div class="container">
          <ul>
            <li>
              <span class="unitText">Conversión</span>
              <span class="unitSeperator">-</span>
              <span class="field">por ejecutivo</span>
              <div class="progressContainer">
                <div class="progress red" matTooltip="{{objects.nombre}} tu conversión es de {{objects.conversion}}%" style="width: 23%; cursor:pointer;"></div>
              </div>
              <span class="progressText red">{{objects.conversion}}%</span>
            </li>
            <hr/>
            <li>
              <span class="unitText">Pólizas emitidas</span>
              <span class="unitSeperator">-</span>
              <span class="field">por ejecutivo</span>
              <div class="progressContainer">
                <div class="progress" matTooltip="{{objects.nombre}} tu porcentaje por polizas emitidas es de {{objects.polizasEmitidas}}%" style="width: 5%;cursor:pointer;"></div>
              </div>
              <span class="progressText">{{objects.polizasEmitidas}}%</span>
            </li>
            <hr/>
            <li>
              <span class="unitText">Pólizas Cobradas</span>
              <span class="unitSeperator">-</span>
              <span class="field">por ejecutivo</span>
              <div class="progressContainer">
                <div class="progress" matTooltip="{{objects.nombre}} tu porcentaje por polizas emitidas es de {{objects.polizasCobradas}}%" style="width: 50%; cursor:pointer;"></div>
              </div>
              <span class="progressText">{{objects.polizasCobradas}}%</span>
            </li>
            <hr/>
            <li>
              <span class="unitText">Contáctos</span>
              <span class="unitSeperator">-</span>
              <span class="field">por ejecutivo</span>
              <div class="progressContainer">
                <div class="progress red" matTooltip="{{objects.nombre}} tu porcentaje por polizas emitidas es de {{objects.contactos}}%" style="width: 30%;cursor:pointer;"></div>
              </div>
              <span class="progressText red">{{objects.contactos}}%</span>
            </li>
            <hr/>
            <li>
              <span class="unitText">Pólizas Aplicadas</span>
              <span class="unitSeperator">-</span>
              <span class="field">por ejecutivo</span>
              <div class="progressContainer">
                <div class="progress" matTooltip="{{objects.nombre}} tu porcentaje por polizas emitidas es de {{objects.polizasAplicadas}}%" style="width: 18%;cursor:pointer;"></div>
              </div>
              <span class="progressText">{{objects.polizasAplicadas}}%</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="timeSpent">
        <div class="header">
          <span class="headerText">Productividad De Esta Semana</span>
          <select class="rightElement" style="cursor:pointer;">
            <option value="week">Semana anterior</option>
            <option value="month">Mes Anterior</option>
          </select>
        </div>
        <div class="container">
          <div class="day">
            <span class="name">lunes</span>
            <div class="progressContainer">
              <div class="progress writing"></div>
              <div class="progress vocabulary"></div>
              <div class="progress grammar"></div>
              <div class="progress listening"></div>
            </div>
          </div>
          <div class="day">
            <span class="name">martes</span>
            <div class="progressContainer">
              <div class="progress writing"></div>
              <div class="progress vocabulary"></div>
              <div class="progress grammar"></div>
              <div class="progress listening"></div>
            </div>
          </div>
          <div class="day">
            <span class="name">miércoles</span>
            <div class="progressContainer">
              <div class="progress writing"></div>
              <div class="progress vocabulary"></div>
              <div class="progress grammar"></div>
              <div class="progress listening"></div>
            </div>
          </div>
          <div class="day">
            <span class="name">Jueves</span>
            <div class="progressContainer">
              <div class="progress writing"></div>
              <div class="progress vocabulary"></div>
              <div class="progress grammar"></div>
              <div class="progress listening"></div>
            </div>
          </div>
          <div class="day">
            <span class="name">Viernes</span>
            <div class="progressContainer">
              <div class="progress writing"></div>
              <div class="progress vocabulary"></div>
              <div class="progress grammar"></div>
              <div class="progress listening"></div>
            </div>
          </div>
          <div class="day">
            <span class="name">Sábado</span>
            <div class="progressContainer">
              <div class="progress writing"></div>
              <div class="progress vocabulary"></div>
              <div class="progress grammar"></div>
              <div class="progress listening"></div>
            </div>
          </div>
        </div>
        <div class="legendContainer">
          <div class="legend vocabulary">
            <div class="circle"></div>
            <span>Contáctos</span>
          </div>
          <div class="legend grammar">
            <div class="circle"></div>
            <span>Pólizas Emitidas</span>
          </div>
          <div class="legend listening">
            <div class="circle"></div>
            <span>Errores Emitidos</span>
          </div>
          <div class="legend writing">
            <div class="circle"></div>
            <span>Correcciones</span>
          </div>
        </div>
      </div>
      <div class="courses header">
        <span class="headerText">Aspectos Importantes</span>
        <a routerLink="/" class="rightElement">Más &nbsp;&nbsp;<b>→</b></a>
      </div>
      <div class="coursesContainer">
        <a routerLink="/" class="course">
          <span class="level">CN</span>
          <span class="field">Contáctos</span>
          <span class="type">Número de Contáctos</span>
          <span class="arrow">→</span>
        </a>
        <a routerLink="/" class="course">
          <span class="level">PE</span>
          <span class="field">Pólizas Emitidas</span>
          <span class="type">Número de Pólizas Emitidas</span>
          <span class="arrow">→</span>
        </a>
        <a routerLink="/" class="course">
          <span class="level">CR</span>
          <span class="field">Correcciones</span>
          <span class="type">Número de Correcciones</span>
          <span class="arrow">→</span>
        </a>
      </div>
    </main>
    <aside>
      <div class="profile">
        <svg xmlns="http://www.w3.org/2000/svg" id="f36e36b5-a914-4189-a8f7-2c7091a7d461" data-name="Layer 1" width="676" height="676" viewBox="0 0 676 676"><title>female_avatar</title><path d="M938,450a337.10014,337.10014,0,0,1-24.55,126.7c-.04.09-.07.17-.11.26v.01a336.51307,336.51307,0,0,1-42.79,75.64q-5.055,6.75-10.43,13.22c-1.31,1.58-2.64,3.15-3.97,4.7q-10.275,11.925-21.62,22.85-2.64,2.54994-5.34,5.04c-.42.39-.84.77-1.26,1.16a337.81887,337.81887,0,0,1-27.65,22.7q-9.675,7.155-19.86,13.59-2.235,1.425-4.5,2.8-3.93,2.4-7.93,4.69-5.22,3-10.57,5.81c-1.44.77-2.88995,1.51-4.34,2.25-2.12,1.09-4.25,2.14-6.4,3.17-.37.18-.74.36-1.11.53-1.4.68-2.82,1.34-4.24,2a334.89638,334.89638,0,0,1-57.46,20.39c-.11.03-.21.05-.32.08-1.29.33-2.59.65-3.89.96-.97.24-1.95.47-2.93.69a2.48782,2.48782,0,0,1-.37.09c-2.01.47-4.02.92-6.05,1.33-1.14.24-2.28.48-3.42.71-.69.15-1.39.28-2.08.41-.87.17-1.73.33-2.6.5-.48.1-.96.18-1.45.26-1.1.2-2.2.4-3.29.59-1.86.32-3.74.63-5.61.91-1.36.21-2.71.41-4.07.6-1.6.23-3.2.44-4.81.64-.44.07-.88.12-1.32.17q-.85491.10492-1.71.21c-1.15.14-2.3.27-3.46.39-.6.07-1.19.13-1.79.19q-1.71.18-3.42.33c-1.47.13995-2.94.26-4.42.38-1.8.14-3.59.27-5.4.38-1.16.07-2.32.14-3.49.2-2.98.16-5.96.27-8.96.35-1.49.04-2.99.07-4.49.09h-.03c-1.49.02-2.99.03-4.49.03a339.151,339.151,0,0,1-45.45-3.04q-16.575-2.22-32.62-6.02c-.43-.1-.86-.2-1.28-.31-1.08-.25-2.15-.52-3.22-.79-.95-.24-1.89-.49-2.84-.74a335.35735,335.35735,0,0,1-70.6-27.19c-.11-.06-.23-.12-.34-.18-.65-.34-1.29-.67-1.93-1.02q-2.115-1.11-4.21-2.26-11.925-6.55507-23.24-14.02-2.91-1.905-5.76-3.87c-.61-.42-1.21-.84-1.81-1.26-.63-.44-1.26-.88-1.88-1.32q-2.475-1.755-4.92-3.55-10.125-7.44-19.65-15.61a339.74031,339.74031,0,0,1-59.16-65.85Q312.315,628.19,304.71,614.59A336.38981,336.38981,0,0,1,262,450c0-186.67,151.33-338,338-338S938,263.33,938,450Z" transform="translate(-262 -112)" fill="#e7e7ee"/><path d="M654.35,778.63c1.08-.25,2.15-.52,3.22-.79.95-.24,1.89-.49,2.84-.74.05-1.99.12006-4.18.19-6.55.59-18.56,1.98-48.44,5.26-84.44q.27-2.895.54-5.83c1.17-12.2,2.54-25.03,4.18-38.33.05-.44.11-.87.16-1.31,1.33-10.78,2.84-21.85,4.54-33.13q1.78491-11.835,3.86-23.93c.1-.56.2-1.13.3-1.69.4-2.33.81-4.65,1.23-6.99,1.17-6.51,2.42-13.06,3.73-19.61,4.61-23.04,10.1-46.22,16.65-68.77a550.90913,550.90913,0,0,1,24.53-68.61,338.80588,338.80588,0,0,1,26.74-49.83c.15-.23.3-.45.45-.68,13.15-19.81,28.18-36.62,45.34-49.19l-3.56-4.86q-24.66,18.075-45.24,48.1c-.07.1-.13.19-.2.29A327.43692,327.43692,0,0,0,722.19,410a527.39526,527.39526,0,0,0-25.68,69.37q-9.84,33.03-17.65,71.57-2.74494,13.575-5.24,27.82c-.28,1.62-.56,3.24-.84,4.87,0,.02-.01.05-.01.07-.43,2.5-.84,5-1.26,7.53q-1.56006,9.555-2.94,18.96-2.13,14.49-3.85,28.48-.56991,4.62-1.1,9.17-.75,6.42-1.42,12.67-.945,8.7-1.73,17.03l-.15,1.53c-.08.88-.16,1.76-.24,2.63C656.02,725.49,654.75,760.86,654.35,778.63Z" transform="translate(-262 -112)" opacity="0.2"/><path d="M731.01,749.91c.11-.06.23-.12.34-.18,2.06-1.07,4.1-2.16,6.14-3.28.67-7.98,1.57-16.75,2.75-25.97.25-1.9.5-3.83.78-5.77.13995-1.04.29-2.09.44-3.15,1.18-8.12,2.58-16.5,4.26-24.92,6.83-34.36,18.17-69.48,37-91.16,1.01-1.17,2.04-2.29,3.11005-3.38a67.66245,67.66245,0,0,1,8.61-7.55l-3.56-4.85a77.071,77.071,0,0,0-11.8,10.79q-1.875,2.085-3.66,4.34c-17.33,21.81-28.15,54.1-34.88995,86.07-1.76,8.34-3.24,16.67005-4.5,24.78q-.48,3.18-.92,6.3C733.16,725.72,731.87,738.7,731.01,749.91Z" transform="translate(-262 -112)" opacity="0.2"/><circle cx="569.73826" cy="175.98167" r="30.08857" opacity="0.2"/><circle cx="560.0486" cy="434.99083" r="30.08857" opacity="0.2"/><path d="M712.28551,338.52139c6.38046,35.99732-7.70456,68.59225-7.70456,68.59225s-24.42979-25.76825-30.81025-61.76557,7.70457-68.59225,7.70457-68.59225S705.90506,302.52407,712.28551,338.52139Z" transform="translate(-262 -112)" opacity="0.2"/><path d="M812.28234,423.97122c-34.33494,12.555-68.83676,4.498-68.83676,4.498s21.16612-28.41279,55.50106-40.96784,68.83675-4.498,68.83675-4.498S846.61728,411.41617,812.28234,423.97122Z" transform="translate(-262 -112)" opacity="0.2"/><path d="M818.10466,653.333c-24.066,8.80008-48.28314,3.0594-48.28314,3.0594s14.80161-20.00841,38.86762-28.80849,48.28314-3.0594,48.28314-3.0594S842.17067,644.53292,818.10466,653.333Z" transform="translate(-262 -112)" opacity="0.2"/><path d="M701.96,648.27l1.22.63C703.06006,650.2,702.77,651,701.96,648.27Z" transform="translate(-262 -112)" fill="#2f2e41"/><path d="M703.57007,648.69c.01.14.02991.29.03992.43l-.43006-.22c.01-.13.02-.27.04-.41C703.32007,646.74,703.19995,644.67,703.57007,648.69Z" transform="translate(-262 -112)" fill="#2f2e41"/><circle cx="311.68289" cy="324.64092" r="164.20902" fill="#2f2e41"/><circle cx="325.20044" cy="382.71266" r="99.44441" fill="#d0cde1"/><path d="M814.27,685.31l-.12.03-23.13,5.55-48.16,11.56-6.57,1.58L663.05,721.6l-6.22,1.5L479.14,765.74a333.63858,333.63858,0,0,1-35.15-15.83c-.11-.06-.23-.12-.34-.18-.65-.34-1.29-.67-1.93-1.02q-2.115-1.11-4.21-2.26-11.925-6.55507-23.24-14.02-2.91-1.905-5.76-3.87c-.61-.42-1.21-.84-1.81-1.26-.63-.44-1.26-.88-1.88-1.32q-2.475-1.755-4.92-3.55c17.26-31.37,58.36-52.22,99.46-63.63,31.02-8.62,37.84-36.95,37.25-62.16a146.9523,146.9523,0,0,0-1.46-17.18,167.47773,167.47773,0,0,0-5.96-26.74l99.45,3.32,10.26,23.64a53.49156,53.49156,0,0,0-.27,7.82c.78,19.39,12.75,31.93,27.52,40.02,1.92,1.05005,3.89,2.03,5.89,2.94,24.22,11.01,52.73,11.76,52.73,11.76a101.52,101.52,0,0,1,26.09.49q3.15.48,6.12,1.15A88.13944,88.13944,0,0,1,789.09,658.23a91.60126,91.60126,0,0,1,10.41,8.63A82.67563,82.67563,0,0,1,814.27,685.31Z" transform="translate(-262 -112)" fill="#d0cde1"/><path d="M829.19,698.42c-.42.39-.84.77-1.26,1.16a337.81887,337.81887,0,0,1-27.65,22.7q-9.675,7.155-19.86,13.59-2.235,1.425-4.5,2.8-3.93,2.4-7.93,4.69-5.22,3-10.57,5.81c-1.44.77-2.88995,1.51-4.34,2.25-2.12,1.09-4.25,2.14-6.4,3.17-.37.18-.74.36-1.11.53l-4.23-3.51,49.68-60.72,9.99-12.21s3.99,0,13.14,6.66a130.9934,130.9934,0,0,1,14.3,12.34C828.69,697.93,828.94,698.17,829.19,698.42Z" transform="translate(-262 -112)" fill="#d0cde1"/><path d="M828.49,697.74a11.39223,11.39223,0,0,1-.56,1.84,337.81887,337.81887,0,0,1-27.65,22.7,117.95015,117.95015,0,0,1-25.79,6.13s.75,3.76,1.43,10.26q-3.93,2.4-7.93,4.69-5.22,3-10.57,5.81c-1.44.77-2.88995,1.51-4.34,2.25-2.12,1.09-4.25,2.14-6.4,3.17-.37.18-.74.36-1.11.53-1.4.68-2.82,1.34-4.24,2a334.89638,334.89638,0,0,1-57.46,20.39c-.11.03-.21.05-.32.08-1.29.33-2.59.65-3.89.96-.97.24-1.95.47-2.93.69a2.48782,2.48782,0,0,1-.37.09c-2.01.47-4.02.92-6.05,1.33-1.14.24-2.28.48-3.42.71-.69.15-1.39.28-2.08.41-.87.17-1.73.33-2.6.5-.48.1-.96.18-1.45.26-1.1.2-2.2.4-3.29.59-1.86.32-3.74.63-5.61.91-1.36.21-2.71.41-4.07.6-1.6.23-3.2.44-4.81.64-.44.07-.88.12-1.32.17q-.85491.10492-1.71.21c-1.15.14-2.3.27-3.46.39-.6.07-1.19.13-1.79.19q-1.71.18-3.42.33c-1.47.13995-2.94.26-4.42.38-1.8.14-3.59.27-5.4.38-1.16.07-2.32.14-3.49.2-2.98.16-5.96.27-8.96.35-1.49.04-2.99.07-4.49.09h-.03c-1.49.02-2.99.03-4.49.03a339.151,339.151,0,0,1-45.45-3.04q-16.575-2.22-32.62-6.02c-.43-.1-.86-.2-1.28-.31-1.08-.25-2.15-.52-3.22-.79-.95-.24-1.89-.49-2.84-.74a335.35735,335.35735,0,0,1-70.6-27.19c-.11-.06-.23-.12-.34-.18-.65-.34-1.29-.67-1.93-1.02,54.89-12.79,141.63-32.96,216.9-50.24q3.165-.72,6.29-1.44c27.8-6.38,53.84-12.32,75.87006-17.29q3.42-.765,6.69995-1.5c23.67-5.32,42.05005-9.36,52.02-11.38a81.48836,81.48836,0,0,1,8.14-1.43l20.81,32.25Z" transform="translate(-262 -112)" fill="#2f2e41"/><circle cx="161.4491" cy="205.85142" r="48.91333" fill="#2f2e41"/><circle cx="461.91668" cy="191.87618" r="48.91333" fill="#2f2e41"/><path d="M671.50954,282.91333a48.91227,48.91227,0,0,1,43.67262-48.62417,48.91338,48.91338,0,1,0,0,97.24833A48.91227,48.91227,0,0,1,671.50954,282.91333Z" transform="translate(-262 -112)" fill="#2f2e41"/><path d="M368.796,357.41647a48.91227,48.91227,0,0,1-2.83554-65.296,48.91337,48.91337,0,1,0,68.06011,69.46264A48.91226,48.91226,0,0,1,368.796,357.41647Z" transform="translate(-262 -112)" fill="#2f2e41"/><path d="M573.68289,359.77712c-57.88732,0-104.81427,27.37407-104.81427,61.14166,0,15.10906,9.43269,28.91775,25.003,39.58556l20.1779-14.62031-5.48723,22.90446c2.27682,1.05513,4.60162,2.07636,7.02643,3.02019l30.1437-35.16776v43.20369a175.95757,175.95757,0,0,0,27.95047,2.21583c57.88732,0,104.81427-27.37407,104.81427-61.14166S631.57021,359.77712,573.68289,359.77712Z" transform="translate(-262 -112)" fill="#2f2e41"/><path d="M675.00335,303.87618s-7.59666,34.93809,39.87428,48.91333Z" transform="translate(-262 -112)" fill="#2f2e41"/><path d="M468.86862,310.23519s17.469,39.06051-34.93809,56.52955Z" transform="translate(-262 -112)" fill="#2f2e41"/><ellipse cx="489.41344" cy="514.60154" rx="8.28703" ry="19.88888" transform="translate(-382.60837 38.98959) rotate(-15.63946)" fill="#d0cde1"/><ellipse cx="688.30226" cy="498.02747" rx="19.88888" ry="8.28703" transform="translate(-113.09381 1042.41397) rotate(-86.47577)" fill="#d0cde1"/></svg>
        <span class="name"></span>
        <span class="title">{{objects.correo}}</span>
      </div>
      <div class="languages">
        <a routerLink="/" class="language">
          <span class="level">Área</span>
          <span class="text">Ventas</span>
          <span class="levelDescription">Supervisor</span>
        </a>
        <a routerLink="/" class="language">
          <span class="level">Campaña</span>
          <span class="text">Banorte</span>
          <span class="levelDescription">motos</span>
        </a>

      </div>
      <div class="reminders">
        <div class="header">
          <span class="headerText">Extras</span>
          <a routerLink="/" class="notifications"><i class="far fa-bell"></i><div class="circle"></div></a>
        </div>
        <a routerLink="/" class="language">
                <span class="level danger">
                    <i class="fas fa-info-circle"></i>
                </span>
          <span class="text">Sede</span>
          <span class="levelDescription">Tacuba</span>
        </a>
      </div>
    </aside>
  </div>
</div>
