@keyframes rocket-movement { 100% {transform: translate(1200px,-600px);} }
@keyframes spin-earth{ 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); transition: transform 20s; } }
@keyframes move-astronaut{100% { -webkit-transform: translate(-160px, -160px); transform:translate(-160px, -160px); }}
@keyframes rotate-astronaut{100% { -webkit-transform: rotate(-720deg); transform:rotate(-720deg); }}
@keyframes glow-star{40% { -webkit-opacity: 0.3; opacity: 0.3; }90%,100% { -webkit-opacity: 1; opacity: 1; -webkit-transform: scale(1.2); transform: scale(1.2); border-radius: 999999px;}}
html, body{margin: 0;width: 100%;height: 100%;font-family: 'Dosis', sans-serif;font-weight: 300;user-select: none; /* Standard syntax */}
.bg-purple{background: #6441A5;background: linear-gradient(to left, #2a0845, #6441A5);width: 100%; height: 100vh;overflow:hidden;}
.btn-go-home{position: relative;z-index: 200;margin: 15px auto;width: 100px;padding: 10px 15px;border: 1px solid #00fff1;border-radius: 100px;font-weight: 400;display: block;color: white;text-align: center;text-decoration: none;letter-spacing : 2px;font-size: 11px;transition: all 0.3s ease-in;}
.btn-go-home:hover{background-color: #8c00ff;color: #fff;transform: scale(1.05);box-shadow: 0px 20px 20px rgba(0,0,0,0.1);}
.central-body{ /*width: 100%;*/ padding: 17% 5% 10% 5%; text-align: center;}
.object_rocket{z-index: 95;position: absolute;transform: translateX(-50px);top: 75%;pointer-events: none;animation: rocket-movement 50s linear infinite both running;}
.object_earth{position: absolute;top: 20%;left: 15%;z-index: 90;}
.object_moon{position: absolute;top: 12%;left: 25%;}
.object_astronaut{animation: rotate-astronaut 25s infinite linear both alternate;z-index: 103;}
.box_astronaut{z-index: 110 !important;position: absolute;top: 60%;right: 20%;will-change: transform;animation: move-astronaut 50s infinite linear both alternate;}
.text-404{position: relative;z-index: 200;pointer-events: none;color:#ffffff;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 70px;margin: 0;padding: 0 0 30px 0;text-shadow: 3px 0 0 purple;}
.details-error {color: #fff;font-family: Arial, Helvetica, sans-serif;font-size: 1.3rem;}
.stars{background: url(http://salehriaz.com/404Page/img/overlay_stars.svg);background-repeat: repeat;background-size: contain;background-position: left top;}
.glowing_stars .star{position: absolute;border-radius: 100%;background-color: #fff;width: 3px;height: 3px;opacity: 0.3;will-change: opacity;}
.glowing_stars .star:nth-child(1){top: 80%;left: 25%;animation: glow-star 2s infinite ease-in-out alternate 1s;}
.glowing_stars .star:nth-child(2){top: 20%;left: 40%;animation: glow-star 2s infinite ease-in-out alternate 3s;}
.glowing_stars .star:nth-child(3){top: 25%;left: 25%;animation: glow-star 2s infinite ease-in-out alternate 5s;}
.glowing_stars .star:nth-child(4){top: 75%;left: 80%;animation: glow-star 2s infinite ease-in-out alternate 7s;}
.glowing_stars .star:nth-child(5){top: 90%;left: 50%;animation: glow-star 2s infinite ease-in-out alternate 9s;}
@media only screen and (max-width: 600px) {.navbar-links{display: none;}.custom-navbar{text-align: center;.brand-logo img{width: 120px;}.box_astronaut{top: 70%;}.central-body{padding-top: 25%;}}}

