<!--HEADER-->
<div>
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <a routerLink="/dashboard">
      <p class="title-for-toolBar">TRIGARANTE 2020</p>
    </a>
    <span class="material-icons logOut" (click)="logOut()" matTooltip="Cerrar sesión de {{userSessionStorage}}">power_settings_new</span>

    <div class="spacer">
      <span class="material-icons lector" matTooltip="Asistente de lectura" [ngClass]="lector? '' : 'whiteemoji'"
            (click)="activarHablar()">speaker_notes
      </span>
    </div>

    <div id="hamburger" class="menu-icon-container" [ngClass]="menuOpen? 'hamburglar is-open': 'hamburglar is-closed'"
         (click)="toggleMenu()">
      <div class="burger-icon">
        <div class="burger-container">
          <span class="burger-bun-top"></span>
          <span class="burger-filling"></span>
          <span class="burger-bun-bot"></span>
        </div>
      </div>

      <!-- svg ring containter -->
      <div class="burger-ring">
        <svg class="svg-ring">
          <path class="path" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="4"
                d="M 34 2 C 16.3 2 2 16.3 2 34 s 14.3 32 32 32 s 32 -14.3 32 -32 S 51.7 2 34 2"/>
        </svg>
      </div>
      <!-- the masked path that animates the fill to the ring -->

      <svg width="0" height="0">
        <mask id="mask">
          <path xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#ff0000" stroke-miterlimit="10" stroke-width="4"
                d="M 34 2 c 11.6 0 21.8 6.2 27.4 15.5 c 2.9 4.8 5 16.5 -9.4 16.5 h -4"/>
        </mask>
      </svg>
      <div class="path-burger">
        <div class="animate-path">
          <div class="path-rotation"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="content" role="main">
    <!--menu-->
    <menu [ngClass]="menuOpen?'visible':'success'">
      <aside>
        <ul>
          <!--          MODULO DE RH-->
          <div class="menuPrincipal">
            <li class="elementos-del-menu-1" (click)="openHijo($event)"><span class="material-icons menuIcons">how_to_reg</span>RECURSOS
              HUMANOS
              <div class="menu-hijo">
                <ul>
                  <li>Capital Humano
                    <div class="menu-nieto">
                      <ul class="nav">
                        <li><a>Empleados</a>
                          <ul>
                            <li><a routerLink="/tablas"> -Alta de Imss</a></li>
                            <li><a routerLink="/tablas"> -Empleados-baja</a></li>
                            <li><a routerLink="/tablas"> -Empleados</a></li>
                            <li><a routerLink="/tablas"> -Ver empleado</a></li>
                          </ul>
                        </li>
                        <li><a routerLink="/tablas">Pre-Empleados</a></li>
                        <li><a routerLink="/tablas">Reportes</a>
                          <ul class="nav">
                          </ul>
                          <ul>
                            <li><a routerLink="/tablas"> -Reporte de empleado </a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li> Catalogo
                    <div class="menu-nieto">
                      <ul>
                        <li><a routerLink="/tablas">Banco</a></li>
                        <li><a routerLink="/tablas">Bolsa de trabajo</a></li>
                        <li><a routerLink="/tablas">Competencias</a></li>
                        <li><a routerLink="/tablas">Competencias de candidato</a></li>
                        <li><a routerLink="/tablas">Escolaridad</a></li>
                        <li><a routerLink="/tablas">Estado civil</a></li>
                        <li><a routerLink="/tablas">Estado de escolaridad</a></li>
                        <li><a routerLink="/tablas">Medio de transporte</a></li>
                        <li><a routerLink="/tablas">Motivos de baja</a></li>
                        <li><a routerLink="/tablas">Paises</a></li>
                        <li><a routerLink="/tablas">Puesto</a></li>
                        <li><a routerLink="/tablas">Turno</a></li>
                        <li><a routerLink="/tablas">Tipo de puesto</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>Reclutamiento
                    <div class="menu-nieto">
                      <ul>
                        <li><a routerLink="/tablas">Bajas R.H.</a></li>
                        <li><a routerLink="/tablas">Candidatos</a></li>
                        <li><a routerLink="/tablas">Coaching</a></li>
                        <li><a routerLink="/tablas">Precandidatos</a></li>
                        <li><a routerLink="/tablas">Reportes</a></li>
                        <li><a routerLink="/tablas">Seguimiento</a></li>
                        <li><a routerLink="/tablas">Seguimiento practico</a></li>
                        <li><a routerLink="/tablas">Solicitudes</a></li>
                        <li><a routerLink="/tablas">Vacantes</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </div>

          <!--          MODULO DE TI-->
          <div class="menuPrincipal">
            <li class="elementos-del-menu-1" (click)="openHijo($event)"><span
              class="material-icons menuIcons">save</span>TI
              <div class="menu-hijo">
                <ul>
                  <li>Actualizar permisos</li>
                  <li> Administracion TI</li>
                  <li>Administrativo</li>
                </ul>
              </div>
            </li>
          </div>

          <!--          MODULO DE COMERCIAL-->
          <div class="menuPrincipal">
            <li class="elementos-del-menu-1" (click)="openHijo($event)"><span class="material-icons menuIcons">card_travel</span>COMERCIAL
              <div class="menu-hijo">
                <ul>
                  <li>Elementos del menu secundario</li>
                  <li> Elementos del menu secundario</li>
                  <li>Elementos del menu secundario</li>
                </ul>
              </div>
            </li>
          </div>

          <!--          MODULO DE MARKETING-->
          <div class="menuPrincipal">
            <li class="elementos-del-menu-1" (click)="openHijo($event)"><span class="material-icons menuIcons">add_business</span>MARKETING
              <div class="menu-hijo">
                <ul>
                  <li>Hola</li>
                  <li> BLAVBLALFLDSG</li>
                  <li>Elementos del menu secundario</li>
                </ul>
              </div>
            </li>

            <!--          MODULO DE VENTA NUEVA MEXICO-->
            <li class="elementos-del-menu-1" (click)="openHijo($event)"><span class="material-icons menuIcons">connect_without_contact</span>VENTA
              NUEVA
              <div class="menu-hijo">
                <ul>
                  <li>Elementos del menu secundario</li>
                  <li> Elementos del menu secundario</li>
                  <li>Elementos del menu secundario</li>
                </ul>
              </div>
            </li>
          </div>

          <!--          MODULO DE VENTA NUEVA PERU-->
          <div class="menuPrincipal">
            <li class="elementos-del-menu-1" (click)="openHijo($event)"><span class="material-icons menuIcons">connect_without_contact</span>VENTA
              NUEVA PERÚ
              <div class="menu-hijo">
                <ul>
                  <li>Elementos del menu secundario</li>
                  <li> Elementos del menu secundario</li>
                  <li>Elementos del menu secundario</li>
                </ul>
              </div>
            </li>
          </div>

          <!--          MODULO DE E-COMMERCE-->
          <div class="menuPrincipal">
            <li class="elementos-del-menu-1" (click)="openHijo($event)"><span class="material-icons menuIcons">account_balance</span>E-COMMERCE
              <div class="menu-hijo">
                <ul>
                  <li>Elementos del menu secundario</li>
                  <li> Elementos del menu secundario</li>
                  <li>Elementos del menu secundario</li>
                </ul>
              </div>
            </li>
          </div>

          <!--          MODULO DE FINANZAS-->
          <div class="menuPrincipal">
            <li class="elementos-del-menu-1" (click)="openHijo($event)"><span class="material-icons menuIcons">monetization_on</span>FINANZAS
              <div class="menu-hijo">
                <ul>
                  <li>Elementos del menu secundario</li>
                  <li> Elementos del menu secundario</li>
                  <li>Elementos del menu secundario</li>
                </ul>
              </div>
            </li>
          </div>

          <!--          MODULO DE MESA DE CONTROL-->
          <div class="menuPrincipal">
            <li class="elementos-del-menu-1" (click)="openHijo($event)"><span class="material-icons menuIcons">track_changes</span>MESA
              DE CONTROL
              <div class="menu-hijo">
                <ul>
                  <li>Elementos del menu secundario</li>
                  <li> Elementos del menu secundario</li>
                  <li>Elementos del menu secundario</li>
                </ul>
              </div>
            </li>
          </div>

          <!--          MODULO DE COBRANZA-->
          <div class="menuPrincipal">
            <li class="elementos-del-menu-1" (click)="openHijo($event)"><span
              class="material-icons menuIcons">payment</span>COBRANZA
              <div class="menu-hijo">
                <ul>
                  <li>Elementos del menu secundario</li>
                  <li> Elementos del menu secundario</li>
                  <li>Elementos del menu secundario</li>
                </ul>
              </div>
            </li>
          </div>

          <!--          MODULO DE ATENCION A CLIENTES-->
          <div class="menuPrincipal">
            <li class="elementos-del-menu-1" (click)="openHijo($event)"><span class="material-icons menuIcons">contact_phone</span>ATENCIÓN
              A CLIENTES
              <div class="menu-hijo">
                <ul>
                  <li>Elementos del menu secundario</li>
                  <li> Elementos del menu secundario</li>
                  <li>Elementos del menu secundario</li>
                </ul>
              </div>
            </li>
          </div>

          <!--          MODULO DE SUB SECUENTES-->
          <div class="menuPrincipal">
            <li class="elementos-del-menu-1" (click)="openHijo($event)"><span class="material-icons">how_to_vote</span>SUB
              SECUENTES
              <div class="menu-hijo">
                <ul>
                  <li>Elementos del menu secundario</li>
                  <li> Elementos del menu secundario</li>
                  <li>Elementos del menu secundario</li>
                </ul>
              </div>
            </li>
          </div>

          <!--          MODULO DE PRODUCTOS GASTOS MEDICOS-->
          <div class="menuPrincipal">
            <li class="elementos-del-menu-1" (click)="openHijo($event)"><span class="material-icons menuIcons">medical_services</span>PRODUCTOS
              GASTOS MÉDICOS
              <div class="menu-hijo">
                <ul>
                  <li>Elementos del menu secundario</li>
                  <li> Elementos del menu secundario</li>
                  <li>Elementos del menu secundario</li>
                </ul>
              </div>
            </li>
          </div>

          <!--          MODULO DE PRODUCTOS VIDA-->
          <div class="menuPrincipal">
            <li class="elementos-del-menu-1" (click)="openHijo($event)"><span class="material-icons menuIcons">local_hospital</span>PRODUCTOS
              VIDA
              <div class="menu-hijo">
                <ul>
                  <li>Elementos del menu secundario</li>
                  <li> Elementos del menu secundario</li>
                  <li>Elementos del menu secundario</li>
                </ul>
              </div>
            </li>
          </div>

          <!--          MODULO DE PRODUCTOS HOGAR-->
          <div class="menuPrincipal">
            <li class="elementos-del-menu-1" (click)="openHijo($event)"><span class="material-icons menuIcons">family_restroom</span>PRODUCTOS
              HOGAR
              <div class="menu-hijo">
                <ul>
                  <li>Elementos del menu secundario</li>
                  <li> Elementos del menu secundario</li>
                  <li>Elementos del menu secundario</li>
                </ul>
              </div>
            </li>
          </div>

          <!--          MODULO DE PRODUCTOS PYME-->
          <div class="menuPrincipal">
            <li class="elementos-del-menu-1" (click)="openHijo($event)"><span
              class="material-icons menuIcons">apartment</span>PRODUCTOS PYME
              <div class="menu-hijo">
                <ul>
                  <li>Elementos del menu secundario</li>
                  <li> Elementos del menu secundario</li>
                  <li>Elementos del menu secundario</li>
                </ul>
              </div>
            </li>
          </div>

          <!--          MODULO DE TICKETS-->
          <div class="menuPrincipal">
            <li class="elementos-del-menu-1" (click)="openHijo($event)"><span class="material-icons menuIcons">confirmation_number</span>TICKETS
              <div class="menu-hijo">
                <ul>
                  <li>Elementos del menu secundario</li>
                  <li> Elementos del menu secundario</li>
                  <li>Elementos del menu secundario</li>
                </ul>
              </div>
            </li>
          </div>

          <!--          MODULO DE VENTA NUEVA COACHING-->
          <div class="menuPrincipal">
            <li class="elementos-del-menu-1" (click)="openHijo($event)"><span
              class="material-icons menuIcons">menu_book</span>VENTA NUEVA COACHING
              <div class="menu-hijo">
                <ul>
                  <li>Elementos del menu secundario</li>
                  <li> Elementos del menu secundario</li>
                  <li>Elementos del menu secundario</li>
                </ul>
              </div>
            </li>
          </div>
        </ul>
      </aside>

      <!--      Carrusel 2-->
      <div class="content-all">
        <div class="content-carrousel">
          <section>
            <div class="content-information">
              <h4>TRIGARANTE</h4>
            </div>
          </section>

          <section>
            <div class="content-information">
              <h4>PRODUCTIVIDAD</h4>
              <span class="material-icons">show_chart</span>
            </div>
          </section>

          <section>
            <div class="content-information">
              <h4>BOLETIN</h4>
              <span class="material-icons">description</span>
            </div>
          </section>

          <section>
            <div class="content-information">
              <h4>REPORTAR UN PROBLEMA</h4>
              <span class="material-icons">record_voice_over</span>
            </div>
          </section>

          <section>
            <div class="content-information">
              <h4>NOTIFICACIONES</h4>
              <span class="material-icons">notification_important</span>
            </div>
          </section>

          <section>
            <div class="content-information">
              <h4>PREGUNTAS FRECUENTES</h4>
              <span class="material-icons">contact_support</span>
            </div>
          </section>

          <section>
            <div class="content-information">
              <h4>NOTICIAS</h4>
              <span class="material-icons">public</span>
            </div>
          </section>

          <section>
            <div class="content-information">
              <h4>REPORTES</h4>
              <span class="material-icons">bar_chart</span>
            </div>
          </section>

          <section>
            <div class="content-information">
              <h4>MI PERFIL</h4>
              <span class="material-icons">face</span>
            </div>
          </section>

          <section>
            <div class="content-information">
              <h4>ACERCA DE</h4>
              <span class="material-icons">supervisor_account</span>
            </div>
          </section>
        </div>
      </div>
    </menu>
    <!--end menu-->
  </div>
</div>

<!--FONTSIZE SET-->
<div [ngClass]="fontSize">
</div>

