main {background-color:rgb(255, 255, 255);height:100vh;width:100%;}
h1 {text-align:center;}
.example-form-field {width:200px;margin-right:20px;}
.global-container {display:flex;justify-content:center;width:100%;height:auto;}
.inputs-container {display:flex;flex-direction:column;padding:0 20px;width:370px;height:500px;margin:25px 0;overflow:auto;}
.mat-radio-button ~ .mat-radio-button {margin: 0 0 16px 16px;}
.example-form {min-width:150px;max-width:300px;width:100%;}
.files-containter {display:flex;align-items:center;flex-direction:column;padding:10px 10px;background-color: rgba(195, 195, 195, 0.93);width:550px;height:600px;margin:25px 0 100px 10%;overflow:auto;border-radius:5%;}
.files-viewer{width:99%;height:550px;background-color:#ffffff;margin:25px 0.5%;}
.files-containter span {text-align:center;font-size:1.5rem;font-weight:bold;display:contents;cursor:pointer;}
